@model IEnumerable<Facilit.Models.Usuario>

@{
    ViewBag.Title = "Administrador";
}

<h2>Menu Administrador</h2>
<hr />

<form  action="@Url.Action("Cadastro", "Usuario")">

    <button type="submit" class="btn btn-primary"> Cadastar usuários </button>

</form>