@model Facilit.Models.Usuario

<h1>Cadastre usuário</h1>
@if (ViewBag.CamposVazios == true)
{
    <div>
        Preencha todos os Campos
    </div>
}

@using (Html.BeginForm("NovoUsuario", "Usuario"))
{

    @Html.Partial("_Frmlogin")
    <br />
    <div>
        <input type="submit" value="Cadastre-se" class="btn btn-primary" />
    </div>
}

<br />
<div>
    @Html.ActionLink("Voltar ao Login", "Index")
</div>