@model Facilit.Models.Usuario
@{
    ViewBag.Title = "Cadastro";
}


@if (!String.IsNullOrEmpty(TempData["Mensagem"] as string))
{   
    <div id="mensagem">
        <div class="alert alert-danger">
            @TempData["Mensagem"]
        </div>
    </div>
}
 
<script>
    setTimeout(function () {
        var caixa_mensagem = document.getElementById('mensagem');
        if (caixa_mensagem) {
            caixa_mensagem.style.display = 'none';

        }

    }, 2000);
</script>


<h1>Cadastre usuário</h1>



@using (Html.BeginForm("NovoUsuario", "Usuario"))
{

    @Html.Partial("_Frmlogin")
    <br />
    <div>

        <input type="submit" value="Cadastre-se" class="btn btn-primary" />
        @Html.ActionLink("Voltar ao login", "Index", "Usuario", null, new { @class = "btn btn-secondary" })
        
    </div>
}

<br />


