@{
    ViewBag.Title = "Sobre Nós";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>


    <p>Somos estudantes do Curso de Analise e desenvolvimento de sistemas <br /> Este projeto foi nosso primeiro sistema em 
    ASP.NET MVC

    </p>
</main>