@{
    ViewBag.Title = "Contatos";
}
<main aria-labelledby="title">

  

    <div class="container mt-5">
        <h1 class="text-center mb-4">Contato</h1>

        <div class="row">
            <div class="col-md-6">
                <h3>Desenvolvedor Junior </h3>
                <p>Nome: Felipe Freitas</p>
                <p>Email: <a href="mailto:felipeprofissional22@gmail.com">felipeprofissional22@gmail.com</a></p>
                <p>Telefone: (11) 99749-4922</p>
                <p>Localização: Bragança Paulista-SP, Brasil</p>
            </div>
            <div class="col-md-6">

                <h3>Desenvolvedor Junior </h3>
                <p>Nome: Matheus Pinheiro</p>
                <p>Email: <a href="mailto:math23cp@outlook.com">math23cp@outlook.com</a></p>
                <p>Telefone: (11) 8765-4321</p>
                <p>Localização: Atibaia-SP, Brasil</p>
            </div>
        </div>

    </div>



</main>