@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">

    <h2>Contatos</h2>
<p>
    Entre em <strong>contato </strong> conosco somente por e-mail
</p>
    

    <address>
        <strong>E-mail Felipe Freitas:</strong>   <a href="mailto:felipeprofissional22@gmail.com">felipeprofissional22@gmail.com</a><br />
        <strong>E-mail Matheus Pinheiro:</strong> <a href="mailto:math23cp@outlook.com">math23cp@outlook.com</a>
    </address>
</main>