@{
    ViewBag.Title = "Home";
}
<head>
 
    
    <style>

        .custom-text {
            font-size: 2.5rem;
        }

        .custom-text-small {
            font-size: 1.2rem;
        }

        .section-padding {
            padding: 50px 0;
        }

        .container {
            margin-top: -100px;
        }

        .img-container {
            position: relative;
            text-align: center;
            width: 100%;
            height: calc(100vh - 100px);
            margin-top: -50px;
        }

            .img-container img {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                height: calc(100% - 50px);
                width:100vw;
            }

        .img-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .ferramentas {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 50px;
        }

            .ferramentas div {
                text-align: center;
                width: 30%;
            }

            .ferramentas img {
                width: 50%;
                height: auto;
                margin-bottom: 20px;
            }

            .ferramentas p {
                font-size: 1rem;
            }

        .texto-imagem img {
            max-width: 50%;
            height: auto;
        }

        .ferramentas img {
            width: 12%;
        }

        body {
            overflow-x: hidden; 
        }
    </style>
</head>
<div class="container">
    <section class="section-padding">
        <div class="img-container">
            <img src="~/imagens/imagem_pc.jpg" alt="imagem de um computador" class="img-home">
            <div class="img-overlay">
                <h1 class="text-light custom-text fonte_bolder">Olá, bem-vindo(a) ao Sistema Facilit</h1>
                <p class="text-light custom-text-small fonte_leve">O sistema que facilita sua vida</p>
                <a href="@Url.Action("Cadastro", "Usuario")" class="btn btn-primary">Cadastre-se</a>
                @Html.ActionLink("Login", "Index", "Usuario", null, new { @class = "btn btn-success" })
            </div>
        </div>
    </section>
</div>

<section class="row section-padding">
    <div class="col-md-6">
        <p style="padding-left:40px;margin-right:62px;text-align:justify;line-height:33px;" class="fonte_leve">
            Nosso sistema oferece solução completa para gerenciar fotos na nuvem, com armazenamento seguro e acessível.
            Emitimos PDFs personalizados, simplificando impressões de notas fiscais e etiquetas.
            Constantemente aprimorado com feedback dos usuários, refletindo nosso compromisso em fornecer o melhor serviço.
            Agradecemos por escolher nosso sistema web.
        </p>
    </div>
    <div class="col-md-6">
        <div class="texto-imagem">
            <img src="~/imagens/Group_2_1_-removebg-preview.png" alt="logo foxer" class="img-fluid">
        </div>
    </div>
</section>

<h1 class="text-center section-padding fonte_normal" >Recursos</h1>
<section class="ferramentas">
    <div>
        <img src="~/imagens/camera_video_icon.png" alt="Ícone de câmera">
        <p class="fonte_normal">Captura de fotos & <br> armazenamentos na nuvem.</p>
    </div>
    <div>
        <img src="~/imagens/icon-tiny.png" alt="Ícone do erp tiny">
        <p class="fonte_normal">Integrações com ERP tiny.</p>
    </div>
    <div>
        <img src="~/imagens/icon_aquivos.png" alt="Ícone de PDF">
        <p class="fonte_normal">Emissão de PDF com dados recentes.</p>
    </div>
</section>
