<!DOCTYPE html>
@{ 
    ViewBag.Title = "erro";
 }
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
  
</head>
<body>
    <hgroup>
      
        <h2>Ocorreu um erro ao processar a solicitação.</h2>
    </hgroup>
    <div class="col-md-6 text-right">
        <img src="~/imagens/Error 404.png" alt="Imagem ilústrativa de erro" class="w-55" />
    </div>
</body>
</html>
