
@{
    ViewBag.Title = "NovaAba";
}

<h2>NovaAba</h2>

<script>
        window.onload = function () {
            var link = "@ViewBag.link";
            if (link) {
                window.open(link, '_blank');
            }
        }
</script>