
.index-page .body-content {
    margin: 0;
    padding: 0;
    border: 0;
    
}


.index-page .navbar-nav {
    margin-right: 0;
}

.index-page .custom-text {
    font-family: Arial, sans-serif;
    font-size: 32px;
}

.index-page .custom-text-small {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.index-page .dl-horizontal dt {
    white-space: normal;
}

.index-page input,
.index-page select,
.index-page textarea {
    max-width: 280px;
}

    /* Set padding to keep content from hitting the edges */
    .body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.campo {
    border-radius: 10px;
    margin: 10px 5px 20px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #2f2fbe;
    background: #D8D8D8;
    color: blue;
    width: 300px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* aqui em baixo está o CSS da index Home */

.ferramentas {
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
}

.section-padding {
    padding-bottom: 60px;
}

#card-foto {
    background-color: whitesmoke;
    height: 270px;
    width: 250px;
    padding: 50px 35px;
    border-radius: 30px;
    text-align: center;
}

#card-pdf {
    background-color: whitesmoke;
    height: 270px;
    width: 250px;
    padding: 50px 35px;
    border-radius: 30px;
    text-align: center;
}

#card-tiny {
    background-color: whitesmoke;
    height: 270px;
    width: 250px;
    padding: 50px 35px;
    border-radius: 30px;
    text-align: center;
}
.fonte_normal {
    font-size: 27px !important;
    font-weight: normal;
    line-height: 43px
}
.fonte_bolder {
    font-size: 27px !important;
    font-weight: bolder;
}
.fonte_leve {
    font-size: 27px !important;
    font-weight: 200;
 
}