
/* Estilos específicos para a página Index do HomeController */
.index-page .body-content {
    margin: 0;
    padding: 0;
}

.index-page .navbar-nav {
    margin-right: 0; /* Remove a margem à direita dos itens da navbar */
}

.index-page .custom-text {
    font-family: Arial, sans-serif;
    font-size: 32px;
}

.index-page .custom-text-small {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.index-page .dl-horizontal dt {
    white-space: normal;
}

.index-page input,
.index-page select,
.index-page textarea {
    max-width: 280px;
}



/* Set padding to keep content from hitting the edges */

.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
