@model Facilit.Models.Usuario

@Html.ActionLink("Ver Perfis de usuário", "Perfis_usuario", "Usuario", null, new { @class = "btn btn-primary" })
<hr />
<h1 class="text-center">TIRE SUA FOTOGRÁFIA</h1>
<hr />

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <video class="img-fluid" autoplay></video>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <canvas class="img-fluid"></canvas>
            </div>
        </div>
    </div>
 <button id="button">Salvar foto</button>
    <script src="~/Scripts/webcan.js"></script>

</body>

</html>
