@model Facilit.Models.Usuario
@{
    ViewBag.Title = "Registro";


}
@if (!String.IsNullOrEmpty(TempData["Mensagem"] as string))
{
    <div id="mensagem">
        <div class="alert alert-danger">
            @TempData["Mensagem"]
        </div>
    </div>
}

<script>
    setTimeout(function () {
        var caixa_mensagem = document.getElementById('mensagem');
        if (caixa_mensagem) {
            caixa_mensagem.style.display = 'none';

        }

    }, 2000);
</script>


<hr />

<h1 class="text-center">TIRE SUA FOTOGRAFIA</h1>
<hr />
<html>
<body>

    <div class="form-group row">
        <div class="col-md-6">
            <h6>Produtos</h6>
            @Html.DropDownList("Produtos", ViewBag.Produtos as SelectList, "-- Selecione aqui o Produto", htmlAttributes: new { @class = "form-control", @id = "drop_produtos" })
        </div>
        <div class="col-md-6">
            <h6>Clientes</h6>

            @Html.DropDownList("Clientes", ViewBag.Clientes as SelectList, "-- Selecione aqui o Cliente", htmlAttributes: new { @class = "form-control", @id = "drop_clientes" })
        </div>
    </div>
    <br />

    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <video class="img-fluid" autoplay></video>
            </div>
        </div>
        <div class="row justify-content-center" style="width: 500px">
            <div class="col-md-6">
                <canvas class="img-fluid"></canvas>
            </div>
        </div>
    </div>
    <button id="btn_salvar" class="btn btn-outline-success">Tirar e salvar foto</button>
    @Html.ActionLink("gerar PDF ", "Gerador_pdf", "Webcan", null, new { @class = "btn btn-secundary" })


    <script src="~/Scripts/webcan.js"></script>

</body>

</html>
