@model Facilit.Models.Usuario

@Html.ActionLink("Ver Perfis de usuário", "Perfis_usuario", "Usuario")
<h1>TIRE SUA FOTOGRÁFIA</h1>


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webcamteste</title>
</head>
<body>
    <video autoplay></video>
    <canvas></canvas>
    

    <script src="~/Scripts/webcan.js"></script>

</body>

</html>
